################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BDB/BDB/bin/Debug
/BDB/BDB/obj/Debug
/BDB/BDB/obj/Release
/.vs/
