################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
/.vs/*
/BDB/BDB/bin
/BDB/BDB/obj
/BDB/packages
/BDB/BDBTest/bin/Release
/BDB/BDBTest/obj
/BDB/.vs/*